@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

/* Root styles for light mode */
:root {
  background-color: #fff0f0;
  color: black;
}

@theme {
  /* Light theme variables */
  --font-Urbanist: "Urbanist", sans-serif;
  --color-background-light: #ffffff;
  --color-primary-light: #3b82f6;
  --color-primary-hover-light: #2563eb;
  --color-card-bg-light: #f9fafb;
  --color-text-main-light: #111827;
  --color-sub-text-light: #6b7280;
  --color-white-text-light: #ffffff;
  --gradient-start-light: #6366f1; /* indigo-500 */
  --gradient-mid-light: #a855f7; /* purple-500 */
  --gradient-end-light: #ec4899; /* pink-500 */
}

/* Dark theme variables*/
.dark {
  @theme {
    --color-background-dark: #0f172a;
    --color-primary-dark: #60a5fa;
    --color-primary-hover-dark: #3b82f6;
    --color-card-bg-dark: #1e293b;
    --color-text-main-dark: #f3f4f6;
    --color-sub-text-dark: #9ca3af;
    --color-white-text-dark: #ffffff;
    --gradient-start-dark: #1e293b; /* slate-800 */
    --gradient-mid-dark: #334155; /* slate-700 */
    --gradient-end-dark: #0f172a; /* slate-900 */
  }
}

/* Toast styling */
.toast-theme {
  font-family: var(--font-urbanist);
  background-color: var(--color-card-bg-light);
  color: var(--color-text-main-light);
}

.dark .toast-theme {
  background-color: var(--color-card-bg-dark);
  color: var(--color-text-main-dark);
}

/* Online indicator animation */
@keyframes pulse-color {
  0% {
    background-color: #0eab25;
  }
  50% {
    background-color: #4ed334;
  }
  100% {
    background-color: #1bb910;
  }
}

.animate-pulse-color {
  animation: pulse-color 1.5s ease-in-out infinite;
  color: white;
  padding: 4px 12px;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 0.9rem;
}

.status-default {
  background-color: #9ca3af;
  color: white;
  padding: 4px 12px;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Hide Leaflet attribution */
.leaflet-control-attribution {
  display: none !important;
}

/* Gradient background */
.bg-gradient-theme {
  background: linear-gradient(
    to right,
    var(--gradient-start-light),
    var(--gradient-mid-light),
    var(--gradient-end-light)
  );
}

.dark .bg-gradient-theme {
  background: linear-gradient(
    to right,
    var(--gradient-start-dark),
    --gradient-mid-dark,
    --gradient-end-dark
  );
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 8px;
  border: 3px solid var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}

/* Skeleton loading animation */
.skeleton {
  overflow: hidden;
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
